@charset "utf-8";
/* CSS Document */

body { background:#fff; font-family:'IstokWebRegular', Arial, sans-serif;; }
.pagewrap { width: 100%; max-width:100%; min-width:960px; margin:0 auto; padding:0;}
.clear{ overflow:hidden;}
.left{ float:left;}
.right{ float:right;}
.none{ display:none;}
.absolute{ position:absolute;}
.relative{ position:relative;}
.bold{ font-weight: bold;}

/*margin value*/
.mboth{ margin:20px;}
.mwidth{margin:0px 20px;}
.mwidthleft{margin:0px 0px 0px 20px;}
.mwidthright{margin:0px 20px 0px 0px;}
.mheighttop{margin:20px 0px 0px 0px;}
.mheightbottom{margin:0px 0px 20px 0px;}
.mheight{margin:20px 0px;}

/*padding value*/
.pboth{ padding:20px;}
.pwidth{padding:0px 20px;}
.pwidthleft{padding:0px 0px 0px 20px;}
.pwidthright{padding:0px 20px 0px 0px;}
.pheighttop{padding:20px 0px 0px 0px;}
.pheightbottom{padding:0px 0px 20px 0px;}
.pheight{padding:20px 0px;}

h1, h2, h3, h4, h5,{font-weight:lighter; font-family:'IstokWebRegular', Arial, sans-serif; margin:0; padding:0;}
h1{ font-size:30px; color:#2a648e; background:#ddd; display:block; padding:0px 20px; margin:0px 0px 20px 0px; font-weight:lighter; border-top-left-radius:7px; border-top-right-radius:7px;}
h2{ font-size:20px; color:#1c1c1c; margin:0px 0px 20px 0px; font-weight:lighter;}
h3{ font-size:18px; font-family:'IstokWebRegular', Arial, sans-serif;; color:#111; line-height:24px; display:block; font-weight:lighter; margin:20px 0px;}
h4{ font-size:20px; color:#2a648e; margin:0px 0px 20px 0px; font-weight:lighter;}


p{ color:#111; font-size:14px; margin:15px 0px; line-height:18px; font-family:'IstokWebRegular', Arial, sans-serif; text-align:left;}
a{ color:#2a648e; font-size:14px; text-decoration:none; font-family:'IstokWebRegular', Arial, sans-serif;}
hr{ background:#ccc; width:100%; height:1px; border:0; margin:15px 0px;}
