img {
    -ms-interpolation-mode: bicubic;
}

.fullblock {
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
}

.blockwrap {
    width: 960px !important;
    margin: 0 auto;
}

.header {
    padding-top: 60px;
    position: fixed;
    background: #fff;
    z-index: 15;
    border-bottom: 1px solid #ccc;
}

.login {
    margin-top: 0px;
}

.nav {
    list-style: none;
    margin-top: 0px;
    margin-left: 30px;
    display: block;
    overflow: hidden;
    height: 35px;
    padding: 0px 20px;
    background: #f0f0f0;
    border-radius: 8px;
    border-bottom: 2px solid #bac9dc;
}

.nav li {
    float: left;
    padding: 0px 10px;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #fff;
    line-height: 35px;
}

.nav li:first-child {
    border-left: none;
}

.nav li:last-child {
    border-right: none;
}

.nav li.noborder {
    border-right: none;
}

.nav li a {
    display: block;
    line-height: 35px;
    color: #111;
}

.nav li a:hover {
    color: #6487a3;
}

.firstimage {
    position: absolute;
}

#loginhiddebox {
    background: url(../images/bgloginticket.png) repeat;
    border-bottom: 45px solid #222;
    margin-top: -350px;
    color: #525c64;
    position: fixed;
    z-index: 55;
    opacity: .98;
    display: none;
}

.logincont {
    padding: 20px 0px;
}

.logincont p {
    color: #fff;
    margin: 20px 0px 0px 0px;
    font-family: 'IstokWebRegular', Arial, sans-serif;
}

.logincont a {
    color: #fff;
    font-family: 'IstokWebRegular', Arial, sans-serif;
}

.logincont a:hover {
    color: #aeb6bc;
}

#sticket {
    background: url(../images/bgloginticket.png) repeat;
    border-bottom: 45px solid #222;
    margin-top: -400px;
    color: #525c64;
    position: fixed;
    z-index: 56;
    opacity: .98;
    display: none;
}

.col5 {
    width: 240px;
}

.loginblock {
    background: #e2e6ec;
    border-bottom: 1px solid #bbc3cd;
    margin: 0;
    padding: 8px 0px;
    position: fixed;
    top: 0;
    z-index: 16;
}

.loginlist {
    list-style: none;
}

.loginlist li {
    float: left;
    padding: 0px 10px;
    border-right: 1px solid #a9a9a9;
}

.loginlist li.noborderlogin {
    border-right: none;
    padding: 0px 0px 0px 10px;
}

.loginlist li:last-child {
    border-right: none;
    padding: 0px 0px 0px 10px;
}

.loginlist li a {
    color: #333;
    font-size: 14px;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #eaeff5;
}

.loginlist li a:hover {
    color: #1c1c1c;
}

ul {
    list-style: none;
}

ul li {}

ul li a {
    color: #333;
}

ul li a:hover {
    color: #C00;
}

.list {
    color: #2a648e;
    font-size: 14px;
    margin: 15px 15px;
    line-height: 18px;
    font-family: 'IstokWebRegular', Arial, sans-serif;
    font-weight: lighter;
    text-align: left;
    list-style: square;
    padding-left: 10px;
}

.serviceblock {
    border-bottom: 1px solid #ccc;
}

.facebook {
    margin: 5px 0px 0px 10px;
}

input.search {
    background: #fff;
    border: 1px solid #aaa;
    height: 25px;
    line-height: 25px;
    margin-top: 7px;
    width: 150px;
}

.sliderblockhome {
    background: #e2e2e2 url(../images/sliderblockbg.png) repeat;
    height: 400px;
    border-bottom: 1px solid #ccc;
    margin-top: 118px;
    position: relative;
}

.slideconthome {
    width: 960px !important;
    height: 400px;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: calc(50% - 480px);
}

.slidecont {
    width: 960px;
    height: 250px;
    margin: 0 auto;
}

.sliderblock {
    background: #e2e2e2 url(../images/sliderblockbg.png) repeat;
    height: 250px;
    border-bottom: 1px solid #ccc;
    margin-top: 78px;
    position: relative;
    padding-bottom: 38px;
}

.sliderbar {
    background: url(../images/bgsliderbar.png) left repeat-x;
    height: 40px;
    margin-top: -40px !important;
    position: relative;
    z-index: 2;
}

.sliderbarblue {
    background: #f0f0f0;
    height: 40px;
    margin-top: -40px !important;
    position: relative;
    z-index: 2;
}

.sliderbar p {
    color: #2a648e;
    margin-top: 5px;
    padding: 5px;
    background: #eee;
    font-weight: lighter;
    font-size: 12px;
}

.thumbs {
    position: absolute;
    bottom: 45px;
    z-index: 2;
    width: 960px;
    left: calc(50% - 295px);
}

.bluebarlist {
    list-style: none;
    margin: 0px 0px 0px -20px;
    padding: 0px;
    display: block;
}

.bluebarlist li {
    float: left;
    margin: 0px;
    height: 40px;
    display: block;
    padding: 0;
}

.bluebarlist li:first-child {
    border-left: 0;
}

.bluebarlist li:last-child {
    border-right: 0;
}

.bluebarlist li a {
    color: #1c1c1c;
    background: #f0f0f0;
    line-height: 40px;
    padding: 0px 10px;
    font-size: 14px;
    display: block;
}

.bluebarlist li a:hover {
    color: #fff;
    background: #5496c8;
}

.bluebarlist li a.actbtn {
    color: #fff;
    background: #1c1c1c;
}

.blackbarlist {
    list-style: none;
    margin: 0px 0px 0px -20px;
    padding: 0px;
    display: block;
}

.blackbarlist li {
    float: left;
    margin: 0px;
    height: 40px;
    display: block;
    padding: 0;
    border-left: 1px solid #303030;
    border-right: 1px solid #121212;
}

.blackbarlist li:first-child {
    border-right: 1px solid #121212;
    border-left: 0;
}

.blackbarlist li:last-child {
    border-right: 0;
}

.blackbarlist li a {
    color: #ccc;
    background: #222;
    line-height: 40px;
    padding: 0px 20px;
    font-size: 12px;
    display: block;
}

.blackbarlist li a:hover {
    color: #fff;
    background: #111;
}

.blackbarlist li a.actbtn {
    color: #fff;
    background: #111;
}

.hideslide {
    padding: 5px 15px;
    color: #fff;
    background: #ed1b24;
    position: absolute;
    margin: 330px 0px 0px 10px;
    font-size: 12px;
    opacity: .9;
    cursor: pointer
}

.overview {
    display: block;
}

.history {
    display: none;
}

.solicondesc p {
    font-weight: lighter;
    text-align: center;
    color: #2a648e;
    margin: 0;
    font-size: 12px;
}

.article {
    width: 700px;
    min-height: 280px;
}

.aside {
    width: 220px;
    background: #ededed;
    padding: 10px;
    min-height: 180px;
    border-bottom: 2px solid #d9d9d9;
}

.aside img {
    width: 100%;
    max-height: 100%;
    margin: 15px 0px;
}

.footerblock {
    background: #ededed;
    margin-top: 20px;
    border-top: 2px solid #d9d9d9;
}

.footerblock ul li a {
    font-size: 12px;
}

.credits {
    background: #1c1c1c;
    padding: 15px 0px;
}

.credits p {
    color: #777;
    text-align: center;
}

.box {
    width: 176px;
}

.box img {
    width: 100%;
    max-width: 100%;
}

.boxfooter {
    width: 176px;
}

#slides {
    height: 400px;
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

.slide {
    float: left;
}

.sliderthumbs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sliderthumbs li {
    float: left;
    background: #6c93b2;
    display: block;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
}

.sliderthumbs li:hover {
    background: #fff;
}

.sliderthumbs li.act {
    background: #fff;
}

.sliderthumbs li a {
    padding: 0;
    margin: 0;
    width: 55px;
    height: 8px;
    display: block;
}

.inputform {
    width: 200px;
    background: #2a2a2a;
    border: 1px solid #444;
    height: 25px;
    line-height: 25px;
    color: #fff;
    padding: 0px 15px;
    margin: 0;
}

.loginbtn {
    margin: 0;
    padding: 0;
    height: 25px;
    width: 100px;
    background: #e83e44;
    color: #fff;
    border: none;
    cursor: pointer;
}

.loginbtn:hover {
    background: #1c1c1c;
}

.sticketlist {
    list-style: none;
}

.sticketlist li {
    float: left;
    margin-right: 10px;
    display: inline;
}

.sticketlist li a {
    background: #2d2d2d;
    text-align: center;
    padding-top: 15px;
    display: block;
    width: 120px;
    height: 60px;
}

.sticketlist li a:hover {
    cursor: pointer;
    background: #455d72;
    color: #fff;
}

.slidedesc {
    display: none;
    width: 216px;
    padding: 10px 10px 10px 10px;
    height: 70px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    background: url(../images/slidercaptionbg.png) left top no-repeat;
    opacity: 0;
    position: relative;
    z-index: 15;
    margin: -120px 0px 0px -130px;
    font-size: 12px;
    overflow: visible;
}

.slidedesc a {
    font-size: 12px;
    color: #2a648e;
}

.titleslide {
    display: block;
}

.viewmore {
    background: #f0f0f0;
    padding: 5px 15px;
    border: 1px solid #ccc;
    margin: 20px 0px;
    display: table;
    cursor: pointer;
}

.partnerblock {
    width: 150px;
    height: 40px;
    background: #f5f5f5;
    margin-right: 15px;
    margin-top: 15px;
}

.partnerblock p {
    margin: 0;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-weight: lighter;
}

input {
    line-height: 25px;
    height: 25px;
    width: 135px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

textarea {
    width: 290px;
    height: 80px;
    resize: none;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

#maplist {
    background: #f0f0f0;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid #ccc;
    width: 150px;
    list-style: none;
}

#maplist li {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid #ccc;
}

#maplist li:last-child {
    border: 0;
}

#maplist li a {
    font-weight: lighter;
    line-height: 22px;
    height: 22px;
    display: block;
    background: url(../images/smallarrow.png) left no-repeat;
    background-position: 5px 10px;
    padding-left: 25px;
}

.mappicture {
    position: absolute;
    background: #f0f0f0;
    border-bottom: 2px solid #ccc;
    z-index: 8888;
    min-width: 170px;
    min-height: 50px;
    margin-top: -104px;
    margin-left: -175px;
    border-radius: 8px;
    padding: 15px;
    display: none;
    overflow: hidden;
}

.mappicture p {
    margin: 0;
}

.mappictures {
    border: 1px solid #fff;
    box-shadow: 0px 0px 8px #ccc;
}

.officedesc {
    display: none;
}

#backlistbtn {
    position: relative;
    margin-left: -300px;
}

.logoslist li {
    float: left;
    margin-right: 15px;
}

.accordion li a h2 {
    background: #bbb;
    border-bottom: 1px solid #ccc;
    color: #fff;
    margin-bottom: 0px;
    font-size: 14px;
    padding: 5px 15px;
}

.accordion li {
    background: #f0f0f0;
}

.accordion li a.active h2 {
    background: #8297a7;
    color: #fff;
}

.accordion li ul.sub-menu {
    padding: 10px;
}

.accordion li ul.sub-menu li {
    min-height: 90px;
}

.serviceimg {
    width: 150px;
    border: 1px solid #ccc;
    margin: 0px 10px 10px 0px;
}

.btnscontact {
    width: 300px;
    margin-right: 15px;
}

.btnscontact p {
    font-size: 12px;
    color: #444;
}

.formbtns {
    list-style: none;
}

.formbtns li {
    display: block;
}

.formbtns li a {
    padding: 15px;
    background: #eee;
    display: block;
    border-bottom: 1px solid #fff;
    color: #1c1c1c;
    cursor: pointer;
}

.formbtns li a:hover {
    background: #8398a8;
    color: #fff;
}

.formbtns li a.act {
    background: #aaa url(../images/arrowactbtnform.png) left no-repeat;
    background-position: 97% 10px;
    color: #fff;
    box-shadow: inset 0px 0px 15px #888;
}

.contFormBox {
    width: 350px;
    background: #eee;
    padding: 15px;
    border-bottom: 2px solid #ccc;
}

.contFormBox input {
    margin: 0px 0px 15px 0px;
    width: 160px;
}

.contFormBox textarea {
    margin: 0px 0px 15px 0px;
    width: 340px;
}

.contFormBox p {
    margin: 0px 0px 0px 0px;
}

.formslider {
    width: 350px;
}

.boxcontactform {
    background: #f0f0f0;
    padding: 0px;
    border-bottom: 2px solid #ccc;
    border-radius: 8px;
}

.boxcontactform h2 {
    background: #ddd;
    color: #1c1c1c;
    padding: 5px 20px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.boxcontactform p {
    padding: 0px 20px;
}

.techsupportbox p {
    margin: 0;
    padding: 0;
}

.bluetext {
    color: #336797;
    font-weight: bold;
}

.blacktext {
    color: #1c1c1c;
    font-weight: bold;
}

.contactform {
    width: 240px;
}

.contactform input {
    width: 210px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
}

.contactform textarea {
    width: 210px;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    resize: none;
    font-family: 'IstokWebRegular', Arial, sans-serif;
}

.contactform button {
    margin-top: 10px;
    background: #2c618d;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.contactform button:hover {
    background: #214f7a;
}

.readyDownloadPdf {
    border: 0px;
    cursor: pointer;
    display: block;
    left: 50%;
    margin-left: -80px;
    font-weight: bold;
    background: #e32121;
    color: #fff;
    border-radius: 8px;
    padding: 8px 0px;
    text-align: center;
    width: 160px;
    font-size: 16px;
}

.pdfForm input {
    width: 161px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
}

.pdfForm p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #336797;
}

.inputjobs {
    background: #fff;
    border: 1px solid #ccc;
    color: #1c1c1c;
    width: 120px;
    border-radius: 4px;
    padding: 0px 10px;
}

.uploadcv {
    width: 180px;
    background: transparent;
    border: 0;
    margin: 0px 15px;
}

.tooltiptext {
    margin: 0px 15px;
    font-size: 10px;
    color: #777;
    font-style: normal;
}

.jobsform button {
    margin: 0;
    background: #2c618d;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.jobsform button:hover {
    background: #214f7a;
}

.jobsbtn {
    list-style: none
}

.jobsbtn li {
    float: left;
    display: block;
    margin-right: 2px;
}

.jobsbtn li a {
    padding: 5px 10px;
    display: block;
    color: #fff;
    background: #444;
    border-radius: 5px;
}

.jobsbtn li a:hover {
    background: #888;
    color: #fff;
}

.jobsbtn li a.act {
    background: #2c618d;
    color: #fff;
}

.mapdesc {
    position: relative;
    background: #0F0;
}

.mappoint {
    width: 14px;
    height: 18px;
    background: url(../images/mappoint.png) top center no-repeat;
    position: relative;
    cursor: pointer;
}

.mappoint:hover {
    background: url(../images/mappoint.png) bottom center no-repeat;
}

.mappoint.act {
    background: url(../images/mappoint.png) bottom center no-repeat;
}

.mappic {
    border: 4px solid #e3e3e3;
}

.statedesc p {
    margin: 0;
    padding: 0;
}

.statedesc h2 {
    margin: 0;
    padding: 0;
}

.twitter {
    width: 105px;
    height: 113px;
    background: url(../images/twitter.png) center no-repeat;
    position: fixed;
    z-index: 888;
    right: 0;
    bottom: 50px;
}

.postBlog {
    border-bottom: 1px dashed #aaa;
    padding-bottom: 15px;
}

.postBlog h1 {
    background: #ededed;
    border-radius: 0;
    font-size: 24px;
    margin: 0px 0px 0px 0px;
}

.postBlog p {
    margin: 0px 0px 15px 0px;
    padding: 0;
}

.postBlog img {
    border: 5px solid #ededed;
}

.blogDesc {
    width: 441px;
}

.blogLink {
    margin: 0;
}

.commentBlog {
    font-size: 12px;
    margin: 0;
    padding: 7px 0px;
    color: #3e81b3;
    font-weight: bold;
}

.serviceBox {
    width: 190px;
    padding: 15px;
    background: #ededed;
    border-radius: 8px;
    border-bottom: 2px solid #d9d9d9;
    cursor: pointer;
    margin-bottom: 25px;
    position: relative;
}

.serviceBox:hover {
    background: #e0e0e0;
}

.serviceBox h6 {
    font-size: 12px;
    color: #3e81b3;
    margin: 0;
    padding: 0;
}

.serviceBoxImg {
    width: 186px;
    border: 2px solid #d8d8d8;
    margin-top: 10px;
}

.serviceDesc {
    width: 700px;
    top: 0;
    left: 0;
    margin-left: 750px;
    height: 500px;
    background: #fff;
    z-index: 4;
}

.contactTextTitle {
    color: #336797;
    font-weight: bold;
    font-size: 20px;
}

.contactTextPhone {
    font-weight: bold;
    color: #000;
}

.contactH2 {
    font-size: 30px;
    color: #336797;
    background: #eee;
    padding: 0px 10px 0px 20px;
}

#sprite5 {
    width: 100px;
    height: 100px;
    background: transparent url(../images/servicos-spritesheet-sites.png) 0px 0px no-repeat;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
}

.downloadPdfH1 {
    background: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: table;
    width: 760px;
}

.redColor {
    color: #db3238;
}

.pdfDownloadBtn {
    width: 159px;
    height: 56px;
    text-shadow: 1px 1px 1px #3576b1;
    display: block;
    margin: 0;
    padding: 18px 0px 0px 70px;
    right: 7px;
    top: -6px;
    background: url(../images/downloadPdfBtnBg.png) no-repeat top left;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    letter-spacing: 2pt;
}

.borderRadius {
    border-radius: 5px;
}

.videoDesc {
    width: 200px;
    font-weight: bold;
    display: table;
    padding: 8px 0px;
    text-align: center;
    background: #dedede;
    color: #2a648e;
    border-radius: 5px;
}

.theVideoBox {
    background: url(../images/dtvoverlay.png)repeat;
    padding: 20px;
    opacity: .85;
    width: 270px;
    height: 289px;
    position: absolute;
    top: 0;
    left: 0
}

.theVideoBox h3 {
    color: #fff;
    margin: 0px 0px 20px 0px;
    padding: 0;
    font-size: 50px;
    line-height: 50px;
}

.theVideoBox h4 {
    color: #fff;
}

.theVideoBox a {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}

.videoBox {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
}

.videoBox h2 {
    font-size: 26px;
}

.videoBoxLink {
    position: relative;
}

.listIntranet {
    list-style: none;
}

.listIntranet li {
    border-bottom: 1px solid #ccc;
}

.listIntranet li a {
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px 0px;
}

.listIntranet li .listFiles {
    display: none;
}

.listIntranet li .listFiles ul {
    border: 0px;
    overflow: hidden;
}

.listIntranet li .listFiles ul li {
    border: 0px;
    width: 25%;
    float: left;
    margin-bottom: 10px;
}

.listIntranet li .listFiles ul li .thumInd {
    margin: 0px 10px 0px 0px;
    border-radius: 4px;
    padding: 0px 0px;
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
}

.listIntranet li .listFiles ul li .thumInd .thumbImg {
    height: 80px;
}

.listIntranet li .listFiles ul li .downloadItem {
    padding: 7px 0px;
    background: #999;
    color: #fff;
    font-size: 12px;
    display: block;
    text-align: center;
}

.listIntranet li .listFiles ul li p {
    padding: 0px 5px;
    text-align: center;
    margin: 5px 0px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}