@font-face {
    font-family: 'IstokWebRegular';
    src: url('IstokWeb-Regular-webfont.eot');
    src: url('IstokWeb-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('IstokWeb-Regular-webfont.woff') format('woff'),
         url('IstokWeb-Regular-webfont.ttf') format('truetype'),
         url('IstokWeb-Regular-webfont.svg#IstokWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IstokWebItalic';
    src: url('IstokWeb-Italic-webfont.eot');
    src: url('IstokWeb-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('IstokWeb-Italic-webfont.woff') format('woff'),
         url('IstokWeb-Italic-webfont.ttf') format('truetype'),
         url('IstokWeb-Italic-webfont.svg#IstokWebItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IstokWebBold';
    src: url('IstokWeb-Bold-webfont.eot');
    src: url('IstokWeb-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('IstokWeb-Bold-webfont.woff') format('woff'),
         url('IstokWeb-Bold-webfont.ttf') format('truetype'),
         url('IstokWeb-Bold-webfont.svg#IstokWebBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IstokWebBoldItalic';
    src: url('IstokWeb-BoldItalic-webfont.eot');
    src: url('IstokWeb-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('IstokWeb-BoldItalic-webfont.woff') format('woff'),
         url('IstokWeb-BoldItalic-webfont.ttf') format('truetype'),
         url('IstokWeb-BoldItalic-webfont.svg#IstokWebBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}