<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Configurar Microsoft Outlook</title>
</head>

<body>
<a href="index.cfm?Outlook=2007">Microsoft Outlook 2007</a><br /><br />

<a href="index.cfm?Outlook=2003">Microsoft Outlook 2003</a><br />
<br />
<br />



<cfif IsDefined ("URL.Outlook")>
	<cfif URL.Outlook EQ 2007>
    	<cfinclude template="2007.html">
    <cfelse>
    	<cfinclude template="2003.html">
    </cfif>
</cfif>
</body>
</html>
